    <!--this is our horizontal navbar-->
    <ul class="menu">
        <li><a href="/"><img src="images/bdpalogo.png" height="25"></a></li>
      <li><a href="/"> home </a></li>
      <li><a href="/bdpahistory"> NDPA history </a></li>
      <li><a href="/formentry"> Sample Form </a></li>
      </ul>
      <!-- End navbar -->
       <br> <br> <br>