<!DOCTYPE html>
<html>
 <%- include('partials/head') -%>
  <body> 
<!--this is our horizontal navbar-->
<!-- include menu here -->
<%- include('./partials/menu') -%>

    <h1> BDPA history </h1>
    
    <img src="images/bdpalogo.png">
    <ol>   
<li>  Founders of BDPA Earl A. Pace jr. and David Wimberly :</li>
<li> Founding year of Bdpa 1975 :</li>
<li> First chapter Philadalphea, Washington DC and cleveland :</li>
<li> First conference BDPA year venue :</li>
<li> First HSCC year and venue :</li>
<li> Most recent venue and winner HSCC The venue was Antlanta and so was the winner :</li>
<li> Current National president and VP, Perry Carter and Eric Ejiofor :</li>
<li> Cureent chapter president and VP, Rosemary Smith and Lynette McNeely :</li>
<li> Year and refounder of milwaukee chapter reactivation 2013, Carmen Giles :</li>

    </ol>
  </body>
</html>
