<!DOCTYPE html>
<html>
<!-- Include statement has head section -->
<%- include('./partials/head') -%>

<body>
    <!-- Include navigation menu -->
    <%- include('./partials/menu') -%>

   <h1> Sample data entry </h1>
   <form name="SampleForm" action="/formentry" method="POST">
<label for="firstname"> First Name: </label> <input type=""text name="firstname" id="firstname" required>
<label for="lastname"> Last Name: </label> <input type=""text name="lastname" id="lastname" required><br>
<label for="email"> Email: </label> <input type=""text name="email" id="email" required><br>
<label for="num1"> Enter a number: </label> <input type=""text name="num1" id="num1" required><br>
<label for="num2"> Enter a number: </label> <input type=""text name="num2" id="num2" required><br>

<br>
      <input type="checkbox" name="numconvert" id="numconvert1" value="bin">
      <label for="numconvert1"> show in binary </label> 
      <input type="checkbox" name="numconvert2" id="numconvert1" value="hex">
      <label for="numconvert2"> show in hexadecimal </label> 

      <input type="submit" value="Submit form">


   </form>

</body>
</html>