<!DOCTYPE html>
<html>

  <%- include('partials/head') -%>
  <body>
   <!-- include menu here -->
<%- include('./partials/menu') -%>



    <h1> Welcome to BDPA 2025 </h1>
    <h2> my name is SPARTA </h2>
    <p> This page will be an intro to the hscc program <%= title %></p>
    <h2> Hyperlinks </h2>
    <ul>   
<li>  <a href="http://www.bdpa.org"> BDPA national </a> </li>
<li>  <a href="http://www.bdpamke.org"> BDPA milwaukee </a> </li>
<li>  <a href="http://www.w3schools.com"> w3schools </a> </li>
<li>  <a href="/bdpahistory"> bdpa history </a> </li>





    </ul>
  </body>
</html>
