body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #f9eded;  
} 

a {
  color: #00B7FF;
}

h1{
  color: aquamarine;
}
.menu {
  list-style-type: none;
  margin: 0;
  Padding: 0;
background-color: bisque;
}


.menu li a {
   float:left;
}

.menu li a {
  display: block;
  text-align: center;
  padding:14px 16px;
}